/* General Resume Styling */
.resume-body {
  font-family: Lato;
  margin: 40px;
  padding: 0;
  /* background-color: white; */
  color: rgb(255, 255, 255);
  height: auto;
  padding-bottom: 7rem;
}

/* Resume Container */
.resume-container {
  max-width: 750px;
  margin: auto;
}

/* Header */
.resume-header {
  text-align: center;
  background-image: none;
}

.resume-header h1 {
  font-family: Lato;
  font-size: 24px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  margin: 0;
}

/* Section Styling */
section {
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  font-weight: bolder;
  color: rgb(209, 209, 209);
  border-bottom: 1px solid white;
  padding-bottom: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  color: rgb(203, 203, 249);
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 5px;
}

/* Job Descriptions */
.job,
.technical-projects {
  margin-bottom: 10px;
}

.job-basic-info {
  display: flex;
  justify-content: space-between;
}

.job p,
.technical-projects p {
  font-size: 14px;
  font-style: italic;
  margin: 5px 0;
}

.job ul,
.technical-projects ul {
  font-size: 14px;
  padding-left: 20px;
  margin: 0;
}

.job ul li,
.technical-projects ul li {
  margin-bottom: 3px;
}

/* Skills */
.skills p,
.technical-projects p {
  font-size: 14px;
}

.technical-projects .project-tech-stack {
  padding-left: 10px;
  font-size: 11px;
}

.soft-skills ul {
  padding-left: 20px;
}

.soft-skills li {
  font-size: 14px;
}

/* Print Optimization */
@media print {
  header,
  footer {
    height: 0 !important;
    opacity: 0 !important;
  }
  .resume-body {
    margin-top: -40px !important;
    color: black !important;
    background: white !important;
  }
  h2 {
    color: black !important;
    border-bottom: 1px solid #333 !important;
  }
  h3 {
    color: rgb(0, 0, 175) !important;
  }
  a {
    color: black !important;
    text-decoration: none !important;
  }
  /* Remove box-shadows, backgrounds, etc. for print clarity */
  * {
    box-shadow: none !important;
    background-image: none !important;
  }
  body {
    zoom: 92%;
  }
}
