/* Card */
.card {
  border: 2px #f8f8f8a6 solid;
  background-color: #00000015;
  /* border-radius: 1rem; */
  margin: 1rem;
  transition: all 0.2s ease-in-out;
  max-width: 29rem;
  /* height: calc(90vh - 20rem);
  max-height: 90rem; */
}
.card:hover {
  transform: scale(1.03);
}
.card:focus {
  filter: brightness(150%);
}

.card-body {
  padding: 0rem 1.5rem 1rem 1.5rem;
  height: 8rem;
  max-height: 8rem;
  background-color: rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  backdrop-filter: blur(12px) saturate(180%);
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.card h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: -6px;
}
.card h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  margin-top: 5px;
}

.card-head {
  position: relative;
}

img.card-image {
  object-fit: cover;
  width: 290px;
  height: calc(76vh - 20rem);
  border-radius: 0rem 0rem 0rem 0rem;
}

.date-box {
  position: absolute;
  top: 1rem;
  right: 4%;
  padding: 1rem 1rem;
  background-color: rgb(240, 240, 240);
  color: rgb(19, 94, 145);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
  border-radius: 8px;
}