.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  background-color: rgb(57, 57, 57);
}

.scene {
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  //   filter: blur(1px);
}

.sphere {
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 10s linear infinite;
}

.dot {
  width: 2px;
  height: 2px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(159, 4, 255);
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
